.searchBar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.inputWrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.searchBar input {
    background-color: #2d3240;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border: 2px solid transparent;
    padding-left: 40px;
    padding-right: 40px; 
    color: #91949c;
    transition: border-color 0.3s ease; 
}

.searchBar input:focus {
    outline: none; 
    border-color: rgba(46, 174, 191, 0.2); 
    box-shadow: 0 0 0 3px rgba(46, 174, 191, 0.1); 
}

.searchIcon {
    position: absolute;
    left: 10px;
    color: #91949c;
    font-size: 20px;
    z-index: 1;
}

.searchBar img {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    width: 30px; 
    height: auto;
    background-color: transparent;
    z-index: 1;
}